* {
    font-family: 'Yuji Boku', serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 1em;
}

.box {
    /*TOtal element width = width + left padding + rightpadding + let border + right border + left margin + right margin */
    background-color: grey;
    padding: 10px;
    width: 220px;
    height: 220px;
    border: 10px solid red;
    outline: 10px solid green;
}

.box>p {
    text-align: right;
    direction: rtl;
    color: #bc2e1e;
    text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
}