@media screen and (max-width:1200px) and (max-height:1000px){  
    
    body{
        background-color: plum;
    }
    h1{
        color: red;
    }

    
}

@media screen and (max-width:1250px) and (max-height:1050px) and (min-width:1200px) and (min-height:1000px){  
    
    body{
        background-color: royalblue;
    }
    h1{
        color: rgb(32, 167, 43);
    }

    
}

@media screen and (max-width:1300px) and (max-height:1100px) and (min-width:1250px) and (min-height:1050px){  
    
    body{
        background-color: rgb(143, 153, 48);
    }
    h1{
        color: rgb(34, 11, 95);
    }

    
}

@media screen and (max-width:1350px) and (max-height:1150px) and (min-width:1300px) and (min-height:1100px){  
    
    body{
        background-color: rgb(0, 247, 255);
    }
    h1{
        color: rgb(63, 22, 22);
    }

    
}

@media screen and (max-width:1400px) and (max-height:1200px) and (min-width:1350px) and (min-height:1150px){  
    
    body{
        background-color: rgb(132, 0, 255);
    }
    h1{
        color: rgb(85, 117, 109);
    }

    
}

@media screen and (min-width:1400px) and (min-height:1200px) and (max-width:1450px) and (max-height:1250px) {  
    
    body{
        background-color: rgb(17, 54, 22);
    }
    h1{
        color: rgb(255, 0, 242);
    }

    
}

@media screen and (min-width:1450px) and (min-height:1250px) and (max-width:1500px) and (max-height:1300px) {  
    
    body{
        background-color: rgb(51, 59, 133);
    }
    h1{
        color: rgb(216, 79, 79);
    }

    
}